{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="display-1 text-center text-info my-3 fw-bold">Articles list</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="card article my-2 shadow">
                <div class="card-header">
                    <h2><a href="{% url 'articles:detail' slug=article.slug %}"
                           class="nav-link text-decoration-underline">{{ article.title }}</a></h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Created by {{ article.author.username }} </h5>
                    <small class="card-text">{{ article.date }} </small>
                    <p>
                        {{ article.snippet }}...
                    </p>
                    <a href="{% url 'articles:detail' slug=article.slug %}" class="btn btn-primary"> read more </a>
                </div>
            </div>
        {% empty %}
            <p>No articles found</p>
        {% endfor %}
    </div>
{% endblock %}
